.form-wrapper {
  /* max-width: 900px; */
  margin: 40px;
  /* padding: 30px; */
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
}
.section-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  gap: 15px;
}

label {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 500;
  width: 20%;
}
.radiobtn{
    display: flex;
    
}

.boxAddress{
      /* margin-bottom: 6px; */

    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
/* input[type="file"], */
textarea,
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 100%;
}

textarea {
  resize: vertical;
}

.radio-group,
.checkbox-group,
.inline-inputs {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.radio-group label,
.checkbox-group label {
  margin: 0;
  font-weight: normal;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

.section {
  margin-bottom: 30px;
}

.submit-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-section .terms {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.terms input {
  margin-right: 10px;
}

.terms a {
  color: #0042c9;
  font-weight: 600;
  text-decoration: none;
}

.submit-btn {
  background-color: #3b82f6;
  color: #fff;
  font-weight: 600;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #2563eb;
}